<html>
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script
  	   src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
  	<script src="../static/js/scripts.js"></script>
  </head>

  <body>
    <h1>Video Streaming Demonstration</h1>
    <p class="control">
      <a href=/imagepage class="button">
        <img id=image_button_play src="https://images.vectorhq.com/images/previews/717/play-icon-clip-art-56238.png" alt="Play">
      </a>
    </p>
  </body>
</html>
